

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Patient </title>
</head>
<body>
    <h1> Add New Patient </h1>
    <form method="post">
        <input type="text" name="name" placeholder="Patient Name.." required><br>
        <input type="number" name="age" placeholder="Age" required><br>
        <input type="text" name="condition" placeholder="Medical Condition"><br>
        <input type="text" name="doctor" placeholder="Doctor Name"><br>
        <input type="text" name="hospital" placeholder="Hospital">
        <button type="submit">Save Patient </button>
    </form>
    <a href="/">Back</a>
    
</body>
</html>