<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Patient </title>
</head>
<body>
    <h1>{{ patient [1] }}</h1>
    <p><b>Age:</b>{{ patient [2] }}</p>
    <p><b>Condition:</b>{{ patient [3] }}</p>
    <p><b>Doctor:</b>{{ patient [4] }}</p>
    <p><b>Hospital:</b>{{ patient [5] }}</p>
    <hr>
    <a href="/patient/{{ patient[0] }}/add_vitals">+ Log Vitals</a> |
    <a href="/patient/{{ patient[0] }}/vitals">View Vitals</a>
    <a href="/patient/{{ patient[0] }}/ai">🤖 Ask MedEx AI</a>
    <a href="/patient/{{ patient[0] }}/upload">+ Upload Report</a> |
    <a href="/patient/{{ patient[0] }}/reports">View Reports</a>
    <hr>
    <a href="/">Back</a>
</body>
</html>